/* src/styles/global.css */

html, body, #root, .App {
  height: 100%; /* Garante que ocupam 100% da altura da viewport */
  width: 100%; /* Garante que ocupam 100% da largura */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de rolagem indesejadas */
  background-color: #1a1a1a; /* Cor de fundo escura que você tem */
  color: white; /* Cor do texto padrão */
  font-family: Arial, sans-serif; /* Fonte padrão */
}