.center-container {
  display: flex;           /* Habilita o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  min-height: 100vh;       /* Garante que ocupe a altura total da viewport */
  width: 100%;             /* Garante que ocupe a largura total */
  background-color: #000;  /* Ajuda a visualizar o espaço */
  flex-direction: column;  /* Para empilhar o título e o card de login */            /* <--- AQUI: Espaço entre o título e o card de login */
}

.card-login {
  /*background-color: #2b2b2b; /* Um cinza um pouco mais claro para o card */
  background-color: #3a3a3a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Largura máxima do formulário */
  width: 90%; /* Ajuste para responsividade */
  text-align: center; /* Centraliza textos dentro do card */
  color: #e0e0e0; /* Cor do texto dentro do card */
}

/* Estilos para os campos de input */
.card-login input[type="text"],
.card-login input[type="password"],
.card-login input[type="email"],
.card-login input[type="date"] {
  width: calc(100% - 20px); /* 100% menos padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: white;
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Estilos para o botão Entrar */
.card-login button {
  width: 25%;
  padding: 12px;
  background-color: #ff4500; /* Azul vibrante */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card-login button:hover {
  background-color: #d33800;
  
}

.card-login h1 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #f0f0f0;
} 

.login-reddit-title {
    font-size: 3em; /* Tamanho da fonte maior */
    color: #FF4500; /* Cor laranja do Reddit */
/* Espaço entre o título e o card de login */
    /* text-align: center; */ /* O align-items: center do pai já centraliza */
    font-weight: bold;
}

/* Se você também quiser estilizar o link de cadastro: */
.register-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

.register-link:hover {
  color: #0056b3;
}